@import "./variables.less";

.calendar-panel {
  flex-grow: 1;
  min-width: 0;
  /* HR Bars */
  .bar-hr-under-130 {
    background-color: var(--hr-under-130);
  }

  .bar-hr-130-134 {
    background-color: var(--hr-130-134);
  }

  .bar-hr-135-139 {
    background-color: var(--hr-135-139);
  }

  .bar-hr-140-144 {
    background-color: var(--hr-140-144);
  }

  .bar-hr-145-149 {
    background-color: var(--hr-145-149);
  }

  .bar-hr-150-154 {
    background-color: var(--hr-150-154);
  }

  .bar-hr-155-159 {
    background-color: var(--hr-155-159);
  }

  .bar-hr-160-164 {
    background-color: var(--hr-160-164);
  }

  .bar-hr-165-plus {
    background-color: var(--hr-165-plus);
  }
}
