* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.center {
  text-align: center;
}

.menu-actions {
  .centerFlex();
  gap: 15px;
  position: absolute;
  top: 25px;
  right: 25px;
}

body {
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  .app-container {
    max-width: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    transition: gap 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    min-height: 100vh;
  }
  .loading-screen {
    .centerFlex();
    height: 100vh;
    color: var(--text-primary);
    background-color: var(--text-dark);
  }
}
