.sidebar-rail {
  width: 60px;
  min-width: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px 5px 16px 0;
  background: var(--dark-background);
  position: fixed;
  .sidebar-brand {
    .brandLogo {
      margin-top: 9px;
      width: 40px;
      height: auto;
    }
  }
  .sidebar-nav,
  .sidebar-footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    width: 100%;
  }
}
