.menu-actions {
  .centerFlex();
  gap: 15px;
  position: absolute;
  top: 25px;
  right: 25px;
  @media (max-width: 768px) {
    position: fixed;
    z-index: 5;
    top: unset;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--modal-bg);
    padding: 15px 5px;
  }
}
