// Font sizes
@fontSizeH1: 42px;
@fontSizeH2: 32px;
@fontSizeLarge: 22px;
@fontSizeMedium: 18px;
@fontSizeNormal: 16px;
@fontSizeSmall: 14px;
@fontSizeSmaller: 13px;

// Border radius
@borderRadiusSmall: 8px;
@borderRadiusMedium: 12px;
@borderRadiusLarge: 18px;

// Media query breakpoints
@mobileScreen: 768px;

// Dark mode colors
:root {
  --color-primary: #00c6e9;
  --color-primary-hover: #00b2df;
  --color-primary-glow: rgba(9, 195, 228, 0.459);
  --color-primary-shadow: #0890b24d;
  --color-primary-dark: #044c5e31;

  --glass-bg: rgba(17, 25, 40, 0.75);
  --glass-bg-hover: rgba(28, 37, 56, 0.85);
  --glass-border: rgba(255, 255, 255, 0.22);
  --background-grey-light: #1f2937;

  --text-primary: #f3f7ff;
  --text-secondary: rgba(208, 209, 210, 0.9);
  --text-dark: #0e1118;

  --dark-background: rgb(5, 5, 5);
  --day-cell-bg: rgba(255, 255, 255, 0.02);
  --stat-card-bg: rgba(255, 255, 255, 0.03);
  --stat-card-border: rgba(255, 255, 255, 0.04);
  --stat-card-bg-hover: rgba(255, 255, 255, 0.05);
  --stat-card-border-hover: rgba(255, 255, 255, 0.06);

  --color-red: #b42222;
  --color-red-dark: #6d09098a;

  // Heart rate colors
  --hr-under-130: rgba(5, 223, 117, 0.75);
  --hr-130-134: rgba(50, 179, 54, 0.75);
  --hr-135-139: rgba(127, 233, 7, 0.75);
  --hr-140-144: rgba(217, 241, 0, 0.75);
  --hr-145-149: rgba(255, 213, 0, 0.75);
  --hr-150-154: rgba(255, 143, 51, 0.75);
  --hr-155-159: rgba(255, 86, 34, 0.75);
  --hr-160-164: rgba(244, 67, 54, 0.75);
  --hr-165-plus: rgb(204, 25, 25, 0.75);

  // Pace colors
  --pace-0: #802d4c; // 7:00+ min/km
  --pace-1: #bd3434; // 6:50 - 6:59 min/km
  --pace-2: #eb6c6c; // 6:40 - 6:49 min/km
  --pace-3: #e65100; // 6:30 - 6:39 min/km
  --pace-4: #f57c00; // 6:20 - 6:29 min/km
  --pace-5: #ffa41b; // 6:10 - 6:19 min/km
  --pace-6: #ffb74d; // 6:00 - 6:09 min/km
  --pace-7: #ffc107; // 5:50 - 5:59 min/km
  --pace-8: #ffeb3b; // 5:40 - 5:49 min/km
  --pace-9: #c6da19; // 5:30 - 5:39 min/km
  --pace-10: #9acd32; // 5:20 - 5:29 min/km
  --pace-11: #7cb342; // 5:10 - 5:19 min/km
  --pace-12: #4caf50; // 5:00 - 5:09 min/km
  --pace-13: #2e7d32; // 4:50 - 4:59 min/km
  --pace-14: #107c41; // 4:40 - 4:49 min/km
  --pace-15: #00796b; // 4:30 - 4:39 min/km
  --pace-16: #009688; // 4:20 - 4:29 min/km
  --pace-17: #00bcd4; // 4:10 - 4:19 min/km
  --pace-18: #0288d1; // 4:00 - 4:09 min/km
  --pace-19: #1565c0; // 3:50 - 3:59 min/km
}

// Light mode colors
body.light-mode {
  --glass-bg: rgba(255, 255, 255, 0.95);
  --glass-bg-hover: rgba(243, 244, 246, 0.85);
  --glass-border: rgba(0, 0, 0, 0.08);
  --background-grey-light: #e5e7eb;

  --text-primary: #1f2937;
  --text-secondary: #4b5563;
  --text-dark: #0e1118;

  --dark-background: rgba(255, 255, 255, 0.93);
  --stat-card-bg: rgba(0, 0, 0, 0.02);
  --stat-card-bg-hover: rgba(0, 0, 0, 0.04);
  --stat-card-border: rgba(0, 0, 0, 0.05);
  --stat-card-border-hover: rgba(0, 0, 0, 0.06);
  --day-cell-bg: rgba(0, 0, 0, 0.015);

  --color-red: #d12020;
  --color-red-dark: #ffc5c5;
}
